{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Homepage" %}{% endblock %}

{% block content %}
    <div class="w3-container">
        <h1>{% trans "WikiConecta" %}</h1>
        <div class="w3-container">
            <p>{% blocktrans %}Welcome{% endblocktrans %}{% if user.is_authenticated %}, {{ user.username }}{% endif %}!</p>
        </div>
        <h2>{% trans "About the course" %}</h2>
        <div class="w3-container" style="display:flex; flex-direction:column;">
            <p>{% blocktrans %}The Wikiconecta is an initiative from <a target="_blank" href="https://meta.wikimedia.org/wiki/Special:MyLanguage/Wikimedia Brasil" aria-label="Wikimedia Brasil's page">Wikimedia Brasil</a>.{% endblocktrans %}</p>
            <p>{% blocktrans %}It was developed over several months of research and work, and counted with the participation of <a target="_blank" href="https://pt.wikiversity.org/wiki/WikiConecta/Expediente" aria-label="Wikimedians involved">several Wikimedians</a>, committed to free knowledge.{% endblocktrans %}</p>
        </div>
        <div class="w3-container" style="display:flex; flex-direction: column;">
            <h2>{% trans "Certification" %}</h2>
            <p>{% blocktrans %}The course is divided into 6 modules, which one of them subdivided into units. With the exception of the "Module 1 - Introduction", every module has an activity that must be completed in order to request the course's free certificate of completion. For that, it is also required to be <a target="_blank" href="https://outreachdashboard.wmflabs.org/courses/Grupo_de_Usuários_Wiki_Movimento_Brasil/WikiConecta" aria-label="Enrollment page">enrolled in WikiConecta</a>.{% endblocktrans %}</p>
            <p>{% blocktrans %}Once you are enrolled in the course, and after you have completed the activities, click in the "Certificate" button in the left menu to request the certificate.{% endblocktrans %}</p>
            <p>{% blocktrans %}If you need help to navigate the tool, access the <a target="_blank" href="https://pt.wikiversity.org/wiki/WikiConecta/Tutorial_certificado" aria-label="Tutorial of the certification proccess">tutorial made by the WMB team</a>.{% endblocktrans %}</p>
        </div>
    </div>
{% endblock %}